--
-- PostgreSQL database dump
--

\restrict 4H0guIgTehuEpt8hflPxiqausfcE385FHEZc6k7jvRtMrhAPW8D3tObHOfax3gi

-- Dumped from database version 17.7 (bdc8956)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: raw_coding_meddra; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_coding_meddra (
    id integer NOT NULL,
    subject_id text,
    term text,
    coding_status text
);


--
-- Name: raw_coding_meddra_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_coding_meddra_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_coding_meddra_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_coding_meddra_id_seq OWNED BY public.raw_coding_meddra.id;


--
-- Name: raw_coding_whodra; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_coding_whodra (
    id integer NOT NULL,
    subject_id text,
    trade_name text,
    coding_status text
);


--
-- Name: raw_coding_whodra_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_coding_whodra_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_coding_whodra_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_coding_whodra_id_seq OWNED BY public.raw_coding_whodra.id;


--
-- Name: raw_cpid_metrics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_cpid_metrics (
    id integer NOT NULL,
    subject_id text,
    site_id text,
    study_name text,
    country text,
    region text,
    subject_status text,
    missing_visits integer DEFAULT 0,
    missing_pages integer DEFAULT 0,
    open_queries integer DEFAULT 0,
    coded_terms integer DEFAULT 0,
    uncoded_terms integer DEFAULT 0,
    protocol_deviations integer DEFAULT 0,
    pages_entered integer DEFAULT 0,
    clean_crf_percent double precision DEFAULT 0.0,
    forms_verified integer DEFAULT 0,
    forms_locked integer DEFAULT 0
);


--
-- Name: raw_cpid_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_cpid_metrics_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_cpid_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_cpid_metrics_id_seq OWNED BY public.raw_cpid_metrics.id;


--
-- Name: raw_edrr_issues; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_edrr_issues (
    id integer NOT NULL,
    subject_id text,
    site_id text,
    issue_count integer
);


--
-- Name: raw_edrr_issues_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_edrr_issues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_edrr_issues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_edrr_issues_id_seq OWNED BY public.raw_edrr_issues.id;


--
-- Name: raw_inactivated_forms; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_inactivated_forms (
    id integer NOT NULL,
    subject_id text,
    site_id text,
    folder_name text,
    form_name text,
    audit_action text
);


--
-- Name: raw_inactivated_forms_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_inactivated_forms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_inactivated_forms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_inactivated_forms_id_seq OWNED BY public.raw_inactivated_forms.id;


--
-- Name: raw_lab_issues; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_lab_issues (
    id integer NOT NULL,
    subject_id text,
    site_id text,
    country text,
    visit text,
    lab_category text,
    test_name text,
    issue_type text
);


--
-- Name: raw_lab_issues_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_lab_issues_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_lab_issues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_lab_issues_id_seq OWNED BY public.raw_lab_issues.id;


--
-- Name: raw_missing_pages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_missing_pages (
    id integer NOT NULL,
    subject_id text,
    site_id text,
    form_name text,
    visit_date text,
    days_missing integer,
    study_name character varying(255)
);


--
-- Name: raw_missing_pages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_missing_pages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_missing_pages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_missing_pages_id_seq OWNED BY public.raw_missing_pages.id;


--
-- Name: raw_protocol_deviations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_protocol_deviations (
    id integer NOT NULL,
    subject_id text,
    site_id text,
    category text,
    pd_status text,
    visit_date text,
    study_name text
);


--
-- Name: raw_protocol_deviations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_protocol_deviations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_protocol_deviations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_protocol_deviations_id_seq OWNED BY public.raw_protocol_deviations.id;


--
-- Name: raw_sae_dm; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_sae_dm (
    id integer NOT NULL,
    subject_id text,
    discrepancy_id text,
    action_status text,
    site_id character varying(255)
);


--
-- Name: raw_sae_dm_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_sae_dm_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_sae_dm_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_sae_dm_id_seq OWNED BY public.raw_sae_dm.id;


--
-- Name: raw_sae_safety; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_sae_safety (
    id integer NOT NULL,
    subject_id text,
    case_status text,
    review_status text,
    site_id character varying(255),
    discrepancy_id character varying(255)
);


--
-- Name: raw_sae_safety_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_sae_safety_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_sae_safety_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_sae_safety_id_seq OWNED BY public.raw_sae_safety.id;


--
-- Name: raw_sdv_metrics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_sdv_metrics (
    site_id text,
    subject_id text,
    visit_date timestamp without time zone,
    form_name text,
    verification_status text
);


--
-- Name: raw_visit_projections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.raw_visit_projections (
    id integer NOT NULL,
    subject_id text,
    site_id text,
    study_name text,
    country text,
    visit_name text,
    projected_date text,
    days_outstanding integer
);


--
-- Name: raw_visit_projections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.raw_visit_projections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: raw_visit_projections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.raw_visit_projections_id_seq OWNED BY public.raw_visit_projections.id;


--
-- Name: subject_analytics; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subject_analytics (
    subject_id text NOT NULL,
    is_clean_patient boolean DEFAULT false,
    risk_score double precision DEFAULT 0.0,
    total_open_issues integer DEFAULT 0,
    days_since_last_activity integer DEFAULT 0,
    last_calculated timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: subjects; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subjects (
    subject_id text NOT NULL,
    site_id text,
    study_id text,
    country text,
    region text,
    status text,
    study_name character varying(255)
);


--
-- Name: raw_coding_meddra id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_coding_meddra ALTER COLUMN id SET DEFAULT nextval('public.raw_coding_meddra_id_seq'::regclass);


--
-- Name: raw_coding_whodra id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_coding_whodra ALTER COLUMN id SET DEFAULT nextval('public.raw_coding_whodra_id_seq'::regclass);


--
-- Name: raw_cpid_metrics id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_cpid_metrics ALTER COLUMN id SET DEFAULT nextval('public.raw_cpid_metrics_id_seq'::regclass);


--
-- Name: raw_edrr_issues id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_edrr_issues ALTER COLUMN id SET DEFAULT nextval('public.raw_edrr_issues_id_seq'::regclass);


--
-- Name: raw_inactivated_forms id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_inactivated_forms ALTER COLUMN id SET DEFAULT nextval('public.raw_inactivated_forms_id_seq'::regclass);


--
-- Name: raw_lab_issues id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_lab_issues ALTER COLUMN id SET DEFAULT nextval('public.raw_lab_issues_id_seq'::regclass);


--
-- Name: raw_missing_pages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_missing_pages ALTER COLUMN id SET DEFAULT nextval('public.raw_missing_pages_id_seq'::regclass);


--
-- Name: raw_protocol_deviations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_protocol_deviations ALTER COLUMN id SET DEFAULT nextval('public.raw_protocol_deviations_id_seq'::regclass);


--
-- Name: raw_sae_dm id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_sae_dm ALTER COLUMN id SET DEFAULT nextval('public.raw_sae_dm_id_seq'::regclass);


--
-- Name: raw_sae_safety id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_sae_safety ALTER COLUMN id SET DEFAULT nextval('public.raw_sae_safety_id_seq'::regclass);


--
-- Name: raw_visit_projections id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_visit_projections ALTER COLUMN id SET DEFAULT nextval('public.raw_visit_projections_id_seq'::regclass);


--
-- Name: raw_coding_meddra raw_coding_meddra_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_coding_meddra
    ADD CONSTRAINT raw_coding_meddra_pkey PRIMARY KEY (id);


--
-- Name: raw_coding_whodra raw_coding_whodra_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_coding_whodra
    ADD CONSTRAINT raw_coding_whodra_pkey PRIMARY KEY (id);


--
-- Name: raw_cpid_metrics raw_cpid_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_cpid_metrics
    ADD CONSTRAINT raw_cpid_metrics_pkey PRIMARY KEY (id);


--
-- Name: raw_edrr_issues raw_edrr_issues_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_edrr_issues
    ADD CONSTRAINT raw_edrr_issues_pkey PRIMARY KEY (id);


--
-- Name: raw_inactivated_forms raw_inactivated_forms_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_inactivated_forms
    ADD CONSTRAINT raw_inactivated_forms_pkey PRIMARY KEY (id);


--
-- Name: raw_lab_issues raw_lab_issues_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_lab_issues
    ADD CONSTRAINT raw_lab_issues_pkey PRIMARY KEY (id);


--
-- Name: raw_missing_pages raw_missing_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_missing_pages
    ADD CONSTRAINT raw_missing_pages_pkey PRIMARY KEY (id);


--
-- Name: raw_protocol_deviations raw_protocol_deviations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_protocol_deviations
    ADD CONSTRAINT raw_protocol_deviations_pkey PRIMARY KEY (id);


--
-- Name: raw_sae_dm raw_sae_dm_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_sae_dm
    ADD CONSTRAINT raw_sae_dm_pkey PRIMARY KEY (id);


--
-- Name: raw_sae_safety raw_sae_safety_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_sae_safety
    ADD CONSTRAINT raw_sae_safety_pkey PRIMARY KEY (id);


--
-- Name: raw_visit_projections raw_visit_projections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_visit_projections
    ADD CONSTRAINT raw_visit_projections_pkey PRIMARY KEY (id);


--
-- Name: subject_analytics subject_analytics_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subject_analytics
    ADD CONSTRAINT subject_analytics_pkey PRIMARY KEY (subject_id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (subject_id);


--
-- Name: idx_subjects_site; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_subjects_site ON public.subjects USING btree (site_id);


--
-- Name: raw_cpid_metrics raw_cpid_metrics_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_cpid_metrics
    ADD CONSTRAINT raw_cpid_metrics_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: raw_edrr_issues raw_edrr_issues_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_edrr_issues
    ADD CONSTRAINT raw_edrr_issues_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: raw_inactivated_forms raw_inactivated_forms_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_inactivated_forms
    ADD CONSTRAINT raw_inactivated_forms_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: raw_lab_issues raw_lab_issues_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_lab_issues
    ADD CONSTRAINT raw_lab_issues_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: raw_missing_pages raw_missing_pages_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_missing_pages
    ADD CONSTRAINT raw_missing_pages_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: raw_protocol_deviations raw_protocol_deviations_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_protocol_deviations
    ADD CONSTRAINT raw_protocol_deviations_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: raw_visit_projections raw_visit_projections_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.raw_visit_projections
    ADD CONSTRAINT raw_visit_projections_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- Name: subject_analytics subject_analytics_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subject_analytics
    ADD CONSTRAINT subject_analytics_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 4H0guIgTehuEpt8hflPxiqausfcE385FHEZc6k7jvRtMrhAPW8D3tObHOfax3gi

